* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

header {
	background-color: black;
	font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

nav {
	background-color: black;
}

main {
	padding-top: 17vh;
}

main, footer {
	background-color: black;
}

#features {
	padding-top: 17vh;
}

#menu-2 {
	display: flex;
	justify-content: center;
	margin-top: 10vh;
}

#menu-2 article {
	margin-left: 3%;
	margin-right: 3%;
}

#nextsec {
	position: relative;
	top: -20vh;
}

#howto {
	padding-top: 15vh;
}

#corporate {
	display: flex;
	margin-left: 13vw;
	margin-right: 13vw;
	position: relative;
	top: 10vh;
}

#corporate img {
	width: 100%;
	height: 35vh;
}

.imgmes {
	position: relative;
	top: -30vh;
}

.imgmes h1 {
	font-weight: bold;
	color: orangered;
	position: relative;
	left: -5vw;
	top: 6vh;
}

.imgmes h3 {
	position: relative;
	left: 0.5vw;
}

.imgmes p {
	position: relative;
	margin-left: 4.5vw;
	margin-right: 4.5vw;
}

#corporate1 img {
	height: 30vh;
	width: 100%;
}

#corptxt {
	margin-left: 15vw;
	position: relative;
	top: -20vh;
}

#term {
	background-color: #0f0f0f;
	padding-top: 10vh;
}

footer {
	padding: 1vh;
	background-color: #0f0f0f;
}

footer a, footer a:hover {
	text-decoration: none;
	color: white;
}

/*mobile style*/
@media only screen and (max-width: 400px) {
	
	#hondaImg {
		width: 55%;
	}

}

/*tablet style*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

	
}

/*desktop style*/
@media only screen and (min-width: 961px) {
	/*section {
		background-color: yellow;
	}*/
}