* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

header {
	background-color: black;
	font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

nav {
	background-color: black;
}

main {
	padding-top: 17vh;
}

main, footer {
	background-color: black;
}

#features {
	padding-top: 17vh;
}

#menu-2 {
	display: flex;
	justify-content: center;
}

#menu-2 article {
	margin-left: 3%;
	margin-right: 3%;
}

#howto {
	padding-top: 15vh;
	position: relative;
	top: -30vh;
}

#corporate {
	display: flex;
	margin-left: 13vw;
	margin-right: 13vw;
}

#corporate img {
	width: 100%;
	height: 35vh;
	position: relative;
	top: -20vh;
}

#imgmes {
	position: relative;
	top: -25vh;
}

#imgmes h1 {
	font-weight: bold;
	color: orangered;
	position: relative;
	left: -5vw;
	top: -20vh;
}

#imgmes h3 {
	position: relative;
	left: 0.5vw;
	top: -26vh;
}

#imgmes p {
	position: relative;
	top: -25vh;
	margin-left: 4.5vw;
	margin-right: 4.5vw;
}

#corporate1 {
	margin-top: -35vh;
}

#corporate1 img {
	height: 30vh;
	width: 100%;
}

#corptxt {
	position: relative;
	top: -20vh;
	margin-left: 15vw;
}
